In [1]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
df=pd.read_csv('employee.csv',sep=',') #Reading the given data

In [3]:
df.head()

   empid  commskill  ethics  knowledge  listen  job  overall
0      1          6      10          8       7    6      7.4
1      3          6       2          3       3    8      4.4
2      4          2       3          5       6    4      4.0
3      5          3       4          5       3    4      3.8
4      6          4       6          6       7    8      6.2

In [4]:
df.isnull().sum()

empid        0
commskill    0
ethics       0
knowledge    0
listen       0
job          0
overall      0
dtype: int64

In [5]:
X = df[['commskill','ethics','knowledge','job']]

In [6]:
y = df['overall']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [8]:
model = LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [9]:
predictions= model.predict(X_test)

In [10]:
pd.to_pickle(model,r'new_model.pickle')

In [11]:
model = pd.read_pickle(r'new_model.pickle')

In [12]:
cdf=pd.DataFrame(model.coef_,X.columns,columns=['Coeff']) #Printing the coefficients of the Feature varibales
cdf

              Coeff
commskill  0.184854
ethics     0.216537
knowledge  0.267495
job        0.276324

In [16]:
h = float(input("Enter commskill: "))
hi= h*model.coef_[0]
l = float(input("Enter ethics: "))
lo= l*model.coef_[1]
c= float(input("Enter knowledge: "))
close= c*model.coef_[2]
a= float(input("Enter job: "))
adcl= a*model.coef_[3]

Enter commskill: 9
Enter ethics: 9
Enter knowledge: 9
Enter job: 9

In [17]:
trainornot=(model.intercept_+hi+lo+close+adcl)
if(trainornot>5):
    print("training not required ")
else:
    print("yes, training required")

training not required