In [32]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import pandas as pd

In [33]:
df=pd.read_csv('employee.csv',sep=',') #Reading the given data

In [34]:
df.head()

   empid  commskill  ethics  knowledge  listen  job  overall
0      1          6      10          8       7    6      7.4
1      3          6       2          3       3    8      4.4
2      4          2       3          5       6    4      4.0
3      5          3       4          5       3    4      3.8
4      6          4       6          6       7    8      6.2

In [35]:
df.isnull().sum()

empid        0
commskill    0
ethics       0
knowledge    0
listen       0
job          0
overall      0
dtype: int64

In [36]:
X = df[['commskill','ethics','knowledge']]

In [37]:
y = df['overall']

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [40]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [41]:
predictions= lm.predict(X_test)

In [28]:
pd.to_pickle(model,r'new_model.pickle')

['RFModelforMPG.pkl']

In [29]:
model = pd.read_pickle(r'new_model.pickle')

In [31]:
sepal_length = float(input("Enter sepal_length: "))
sepal_width = float(input("Enter sepa_width: "))
petal_length = float(input("Enter petal_length: "))
petal_width = float(input("Enter petal_width: "))

AttributeError: 'numpy.ndarray' object has no attribute 'predictions'

In [ ]:
result = model.predict([[sepal_length,sepal_width,petal_length,petal_width]])  # input must be 2D array
print(result)